@{ @model CuppaCoffee.Order
    ViewBag.Title = "Contact";

    List<SelectListItem> l1 = new List<SelectListItem>();
    l1.Add(new SelectListItem() { Text = "Blonde", Value = "Blonde" });
    l1.Add(new SelectListItem() { Text = "Dark", Value = "Dark" });
    l1.Add(new SelectListItem() { Text = "Breakfast", Value = "Breakfast" });

    List<SelectListItem> l2 = new List<SelectListItem>();
    l2.Add(new SelectListItem() { Text = "No milk", Value = "No milk" });
    l2.Add(new SelectListItem() { Text = "Whole Milk", Value = "Whole Milk" });
    l2.Add(new SelectListItem() { Text = "2%", Value = "2%" });
    l2.Add(new SelectListItem() { Text = "Almond", Value = "Almond" });

    List<SelectListItem> l3 = new List<SelectListItem>();
    l3.Add(new SelectListItem() { Text = "Vanilla", Value = "Vanilla" });
    l3.Add(new SelectListItem() { Text = "Caramel", Value = "Caramel" });
    l3.Add(new SelectListItem() { Text = "Hazelnut", Value = "Hazelnut" });
    l3.Add(new SelectListItem() { Text = "Mocha", Value = "Mocha" });

    List<SelectListItem> l4 = new List<SelectListItem>();
    l4.Add(new SelectListItem() { Text = "Small", Value = "Small" });
    l4.Add(new SelectListItem() { Text = "Medium", Value = "Medium" });
    l4.Add(new SelectListItem() { Text = "Large", Value = "Large" });

}
@using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
{
    <div class="container myaccountouter">
        <br />
        <br />
        <div class="myaccount">
            <h2>Order</h2>
            <table class="ordertable">
                <tr id="firstRowOrder">
                    <td>
                        @*<div class="row">*@
                        <div>
                            <img src="~/images/black coffee.png" />
                        </div>
                        <div>
                            @Html.RadioButtonFor(models=>models.product_name,"Black Coffee")
                            <label for="blackCoffee">Black Coffee</label>
                        </div>
                    </td>
                    <td>
                        @*<div class="row">*@
                        <div>
                            <img src="~/images/Cappuccino.png" />
                        </div>
                        <div>
                            @Html.RadioButtonFor(models=>models.product_name,"Cappuccino coffee")
                            <label for="Cappuccino">Cappuccino</label>
                        </div>
                    </td>
                    <td id="latte">
                        @*<div class="row">*@
                        <div>
                            <img src="~/images/latte.png" />
                        </div>
                        <div>
                            @Html.RadioButtonFor(models => models.product_name, "Latte coffee")
                            <label for="Latte">Latte</label>
                        </div>
                    </td>
                </tr>
                <tr id="secondRowOrder">
                    <td>
                        @*<div class="row">*@
                        <div>
                            <img src="~/images/americano.png" />
                        </div>
                        <div>
                            @Html.RadioButtonFor(models => models.product_name, "Americano coffee")
                            <label for="Americano">Americano</label>
                        </div>
                    </td>
                    <td>
                        @*<div class="row">*@
                        <div>
                            <img src="~/images/mocha.png" />
                        </div>
                        <div>
                            @Html.RadioButtonFor(models => models.product_name, "Mocha coffee")
                            <label for="Mocha">Mocha</label>
                        </div>
                    </td>
                    <td>
                        @*<div class="row">*@
                        <div>
                            <img src="~/images/macchiato.png" />
                        </div>
                        <div>
                            @Html.RadioButtonFor(models => models.product_name, "Macchiato coffee")
                            <label for="Macchiato">Macchiato</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            @Html.DropDownListFor(models=>models.roast,l1,"Pick a Roast")
                        </div>
                        <div>
                            @Html.DropDownListFor(models => models.milk, l2,"Pick a milk type")
                        </div>
                        <div>
                            @Html.DropDownListFor(models => models.flavor, l3, "Pick a flavor")
                        </div>
                        <div>
                            @Html.DropDownListFor(models => models.drink_size,l4, "Pick a size")
                        </div>
                    </td>
                </tr>
                <tr id="foodOrder">
                    <td>
                        @*<div class="row">*@
                        <div>
                            
                            <img src="~/images/croissant.png" />
                        </div>
                        <div>
                            @Html.RadioButtonFor(models => models.product_name, "croissant")
                            <label for="croissant">Almond Croissant</label>
                        </div>
                        
                    </td>
                    <td>
                        @*<div class="row">*@
                        <div>
                            <img src="~/images/muffin.png" />
                        </div>
                        <div>
                            @Html.RadioButtonFor(models => models.product_name, "Blueberry Muffin")
                            <label for="Muffin">Blueberry Muffin</label>
                        </div>
                        
                    </td>
                    <td>
                        @*<div class="row">*@
                        <div>
                            <img src="~/images/scones.png" />
                        </div>
                        <div>
                            @Html.RadioButtonFor(models => models.product_name, "Strawberry Scone")
                            <label for="Scone">Strawberry Scone</label>
                        </div>
                        
                    </td>
                </tr>
                <tr id="orderButton">
                    <td></td>
                    <td>
                        @*<div class="row">*@
                        <div>
                            <center><button>Order</button></center>
                        </div>
                    </td>
                    <td></td>
                </tr>

            </table>
        </div>
        <br />
        <br />

    </div>
}

@section scripts {
    <script>
        $(function () {

        });
    </script>    
    
}