@{ @model CuppaCoffee.Order
ViewBag.Title = "Contact";

<!--puts all the items for each drop down list in one place to be retrieved from-->
List<SelectListItem> l1 = new List<SelectListItem>();
l1.Add(new SelectListItem() { Text = "Blonde", Value = "Blonde" });
l1.Add(new SelectListItem() { Text = "Dark", Value = "Dark" });
l1.Add(new SelectListItem() { Text = "Breakfast", Value = "Breakfast" });

List<SelectListItem> l2 = new List<SelectListItem>();
l2.Add(new SelectListItem() { Text = "No milk", Value = "No milk" });
l2.Add(new SelectListItem() { Text = "Whole Milk", Value = "Whole Milk" });
l2.Add(new SelectListItem() { Text = "2%", Value = "2%" });
l2.Add(new SelectListItem() { Text = "Almond", Value = "Almond" });

List<SelectListItem> l3 = new List<SelectListItem>();
l3.Add(new SelectListItem() { Text = "Vanilla", Value = "Vanilla" });
l3.Add(new SelectListItem() { Text = "Caramel", Value = "Caramel" });
l3.Add(new SelectListItem() { Text = "Hazelnut", Value = "Hazelnut" });
l3.Add(new SelectListItem() { Text = "Mocha", Value = "Mocha" });

List<SelectListItem> l4 = new List<SelectListItem>();
l4.Add(new SelectListItem() { Text = "Small", Value = "Small" });
l4.Add(new SelectListItem() { Text = "Medium", Value = "Medium" });
l4.Add(new SelectListItem() { Text = "Large", Value = "Large" });

}

@*Call AddToCart action on button click *@
@using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
{
    <div class="container myaccountouter">
        <br />
        <br />
        <!--the background for the page-->
        <div class="myaccount">
            <br />
            <h2>Order</h2>
            <!--table that holds the menu-->
            <table class="ordertable">
                <tr id="firstRowOrder">
                    <td>
                        <div>
                            <img src="~/images/black coffee.png" />
                        </div>
                        <div class="orderRadio">
                            @Html.RadioButtonFor(models => models.product_name, "Black Coffee")
                        </div>
                        <div>
                            <label for="blackCoffee">Black Coffee</label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="~/images/Cappuccino.png" />
                        </div>
                        <div class="orderRadio">
                            @Html.RadioButtonFor(models => models.product_name, "Cappuccino coffee")
                        </div>
                        <div>
                            <label for="Cappuccino">Cappuccino</label>
                        </div>
                    </td>
                    <td id="latte">
                        <div>
                            <img src="~/images/latte.png" />
                        </div>
                        <div class="orderRadio" id="latteRadio">
                            @Html.RadioButtonFor(models => models.product_name, "Latte coffee")
                        </div>
                        <div>
                            <label for="Latte">Latte</label>
                        </div>
                    </td>
                </tr>
                <tr id="secondRowOrder">
                    <td>
                        <div>
                            <img src="~/images/americano.png" />
                        </div>
                        <div class="orderRadio">
                            @Html.RadioButtonFor(models => models.product_name, "Americano coffee")
                        </div>
                        <div>
                            <label for="Americano">Americano</label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="~/images/mocha.png" />
                        </div>
                        <div class="orderRadio">
                            @Html.RadioButtonFor(models => models.product_name, "Mocha coffee")
                        </div>
                        <div>
                            <label for="Mocha">Mocha</label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="~/images/macchiato.png" />
                        </div>
                        <div class="orderRadio">
                            @Html.RadioButtonFor(models => models.product_name, "Macchiato coffee")
                        </div>
                        <div>
                            <label for="Macchiato">Macchiato</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <!--the drop down list where user customizes drink-->
                    <td>
                        <div class="orderSpecific">
                            @Html.DropDownListFor(models => models.roast, l1, "Pick a Roast")
                        </div>
                        <div class="orderSpecific">
                            @Html.DropDownListFor(models => models.milk, l2, "Pick a milk type")
                        </div>
                        <div class="orderSpecific">
                            @Html.DropDownListFor(models => models.flavor, l3, "Pick a flavor")
                        </div>
                        <div class="orderSpecific">
                            @Html.DropDownListFor(models => models.drink_size, l4, "Pick a size")
                        </div>
                    </td>
                </tr>
                <tr id="foodOrder">
                    <!--the food orders-->
                    <td>
                        <div>
                            <img src="~/images/croissant.png" />
                        </div>
                        <div class="orderRadio">
                            @Html.RadioButtonFor(models => models.product_name, "croissant")
                        </div>
                        <div>
                            <label for="croissant">Almond Croissant</label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="~/images/muffin.png" />
                        </div>
                        <div class="orderRadio">
                            @Html.RadioButtonFor(models => models.product_name, "Blueberry Muffin")
                        </div>
                        <div>
                            <label for="Muffin">Blueberry Muffin</label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="~/images/scones.png" />
                        </div>
                        <div class="orderRadio">
                            @Html.RadioButtonFor(models => models.product_name, "Strawberry Scone")
                        </div>
                        <div>
                            <label for="Scone">Strawberry Scone</label>
                        </div>
                    </td>
                </tr>
                <!--the button to order-->
                <tr id="orderButton">
                    <td></td>
                    <td>
                        <div>
                            <center><button>Order</button></center>
                        </div>
                    </td>
                    <td></td>
                </tr>

            </table>
        </div>
        <br />
        <br />

    </div>
}
