@using WebMatrix.Data
@{
    ViewBag.Title = "inventory";
    //open Database Connection
    var db = Database.Open("DefaultConnection");
    //defining query to fetch all records from products table
    var selectQueryString = "SELECT * FROM products";
}


@ViewBag.Message
@using (Html.BeginForm("Inventory", "Home", FormMethod.Post)) //call Inventory action on button click
{
    @Html.AntiForgeryToken() // this is to prevent CSRF attack
    @Html.ValidationSummary(true)
    <table id="Contentbgforinventory">
        <tr>
            <td class="gifcontainer">
                <img src="~/images/coffee_steam.gif" id="thegif" />
            </td>
            <!--inventory content in the table-->
            <td id="inventorylist">
                <center>
                    <h1>Inventory</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*fetch all records from product table *@
                            @foreach (var row in db.Query(selectQueryString))
                            {
                                <tr>
                                    <td>@row.product_name</td> @*display product name*@
                                    <td><input type="text" name="invproduct_@row.product_ID" value="@row.product_quantity" /></td> @*display available quantity*@

                                </tr>
                            }

                        </tbody>
                    </table>
                </center>
            </td>

            <td>
                <img src="~/images/mascot.png" alt="Mr. Kingbread" class="mascot" />

                <input type="submit" value="Update Inventory" id="inventorybutton" />

            </td>
        </tr>

    </table>
    <center><input type="submit" value="Update Inventory" id="inventorybuttonmobile" /></center>
}
