@model MVCLogin.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Login</h2>*@
    @*@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
@Html.ValidationSummary(true)*@
<table class="loginpagetable" >
    <tr>
        <td>
            <table id="logindetails" class="logindetails">

                <tr>
                    <td>
                        <text>User ID</text>
                    </td>
                    <td>
                        <input id="loginID" type="email"placeholder="Your email ID" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <text>Password</text>
                    </td>
                    <td>
                        <input id="password" type="password"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="buttonthings">
                        <center><button id="loginbutton">Sign in</button></center>
                    </td>
                </tr>
            </table>

        </td>
        <td colspan="2">
            <pre><strong>Howdy!

Welcome y'all.
Choose your section.
            </strong></pre>
            <img src="~/images/mascot.png" width="100vw"/>
        </td>

        <td>
            <table id="signupsheet" class="logindetails">

                <tr>
                    <td colspan="5">
                        <text>Not signed up yet? No problem, tell us about yourself!</text>
                    </td>
                </tr>
                <tr>
                    <td>
                        <text>Name</text>
                        </td>
                    <td>
                        <input id="namebox" placeholder="Your name"/>
                        </td>
                    </tr>
                <tr>
                    <td>
                        <text>Gender</text>
                        </td>
                    <td>
                        <input id="genderbox" placeholder="male/female"/>
                        </td>
                    </tr>
                <tr>
                    <td>
                        <text>Date of birth</text>
                        </td>
                    <td>
                        <input id="dateofbirthbox" type="date" placeholder="yyyy/mm/dd"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <text>Email ID</text>
                        </td>
                    <td>
                        <input id="emailbox" type="email" placeholder="someone@example.com"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <text>Password</text>
                        </td>
                    <td>
                        <input id="passwordbox" type="password" placeholder="your password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center><button id="signupbutton">Sign up</button></center>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
    

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    //this  is for create form tag
@Html.AntiForgeryToken() // this is for prevent CSRF attack
@Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
<div style="border: 1px solid red">
    @ViewBag.Message
</div>
    }
<table>
    <tr>
        <td>@Html.LabelFor(a => a.customer_email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })</td>
        <td>@Html.TextBoxFor(a => a.customer_email)</td>
        <td>@Html.ValidationMessageFor(a => a.customer_email)</td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(a => a.customer_password, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.PasswordFor(a => a.customer_password)
        </td>
        <td>
            @Html.ValidationMessageFor(a => a.customer_password)
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Login" />
        </td>
        <td></td>
    </tr>
</table>
}
